body {
    background-color: #181C25;
    font-family: Quicksand, "JetBrains Mono", monospace;
    size: 100px;
    text-align: center;
    padding-top: 10px;
}
head {
    background-color: #7544ff;
}
h1 {
    color: #00c4ff;
}
h3 {
    text-align: left;
    alignment: left;
    color: coral;
}

title {
    text-align: center ;
}
ul {
    position: fixed;
    list-style-type: none;
    margin: -1%;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
    width: 25%;
}
li a {

    top: 0;
    display: flow-root;
    color: #fcc0e0;
    text-align: center;
    padding: 14px 200px;


    }
.le_sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


p {
    color: bisque;
}
#bushy {
    display: flex;
    margin-top: 30px;
}
#chomp {
    align-items: center;
    align-self: flex-start;
    float: left;
}
a {
    color: lavenderblush;
}
div {
    padding: 20px 50px 20px 50px;
}

.glow {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 20px #21ff00;
    }

    to {
        text-shadow: 0 0 20px #1fff00;
    }
}

.navbar-link {
    position: relative;
}

.navbar-title {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.parallax {
    background-image: url("joeSuit.jpg");
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("snowyDelphia.jpg");
    min-height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}